<div class="container-fluid">
  <h1 style="text-align: center; margin-top: 3%">QUẢN LÝ PHÒNG BÁN VÉ MÁY BAY</h1>
  <div class="row" style="margin-top: 3%">
    <div class="col-sm-2" style="border: 2px solid; height: 75vh">
      <h5 style="margin-left: 5%; margin-top: 5%">Thông tin nhân viên</h5>
      <h5 style="margin-left: 5%; margin-top: 5%">Quản lý khách hàng</h5>
      <h5 style="margin-left: 5%; margin-top: 5%">Quản lý bán vé</h5>
      <h5 style="margin-left: 5%; margin-top: 5%">Đặt vé</h5>
      <h5 style="margin-left: 5%; margin-top: 5%">Thống kê</h5>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-9" style="border: 2px solid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
