<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Demo of Mr. Lĩnh</title>
  <style>
    input.sml{
      max-width: 9em;
      margin-left: 3%;
    }

    div.input-group-prepend label {
      min-width: 5em;
      display: inline-block;
      text-align: right;
      align-self: center;
    }
  </style>
</head>
<body>
<div class="form-row" style="margin-top: 15px">
  <div class="col-sm-12 col-lg-6">
    <div class="input-group justify-content-around">
      <div class="input-group-prepend">
        <label>Mã đặt chỗ</label>
      </div>
      <input class="form-control sml" [value]="'SPJ052795'" disabled>
    </div>
  </div>
  <div class="col-sm-12 col-lg-6">
    <div class="input-group  justify-content-around">
      <div class="input-group-prepend ">
        <label>Hãng bay</label>
      </div>
      <input class="form-control sml" [value]="'Bamboo Airline'" disabled>
    </div>
  </div>
</div>
</body>
</html>
