<div class="container-fluid">
  <div class="row justify-content-center"><h3>QUẢN LÝ BÁN VÉ</h3></div>
  <div class="row justify-content-center"><h5>NHẬP VÉ BÁN</h5></div>

  <div class="row justify-content-center">
    <form [formGroup]="">

      <fieldset class="scheduler-border">
        <legend class="scheduler-border">Thông tin chung</legend>
        <div class="form-row">
          <div class="col-sm-3">
            <h5>Mã đặt chỗ</h5>
          </div>
          <div class="col-sm-3">
            <input class="form-control" value="SPJ52795" disabled>
          </div>
          <div class="col-sm-3">
            <h5>Hãng bay</h5>
          </div>
          <div class="col-sm-3">
            <input class="form-control" value="Bamboo AirLine" disabled>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-3">
            <h5>Nơi đi</h5>
          </div>
          <div class="col-sm-3">
            <input class="form-control" value="Nhà Bà Ánh" disabled>
          </div>
          <div class="col-sm-3">
            <h5>Nơi đến</h5>
          </div>
          <div class="col-sm-3">
            <input class="form-control" value="Nhà Ông Nhân" disabled>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-3">
            <h5>Ngày đi</h5>
          </div>
          <div class="col-sm-3">
            <input class="form-control" value="01/12/2020" disabled>
          </div>
          <div class="col-sm-3">
            <h5>Nơi đến</h5>
          </div>
          <div class="col-sm-3">
            <input class="form-control" value="15/12/2020" disabled>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-3">
            <h5>Danh sách người đi</h5>
          </div>
          <div class="col-sm-9">
            <input class="form-control" type="text">
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-4"></div>
          <div class="col-sm-2">
            <h5>Người lớn</h5>
          </div>
          <div class="col-sm-2">
            <input class="form-control" type="text">
          </div>
          <div class="col-sm-2">
            <h5>Trẻ em</h5>
          </div>
          <div class="col-sm-2">
            <input class="form-control" type="text">
          </div>
        </div>
      </fieldset>

      <fieldset class="scheduler-border">
        <legend class="scheduler-border">Chuyến bay đi</legend>

        <div class="form-row">
          <div class="col-sm-3">
            <h5>Mã chuyến bay đi</h5>
          </div>
          <div class="col-sm-3">
            <input class="form-control" value="SPJ527 Bamboo Airline" disabled>
          </div>
          <div class="col-sm-3">
            <h5>Giờ đi</h5>
          </div>
          <div class="col-sm-3">
            <input class="form-control" value="09:10, 01/12/2020" disabled>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-3">
            <h5>Ghế</h5>
          </div>
          <div class="col-sm-3">
            <input class="form-control" value="27C" disabled>
          </div>
          <div class="col-sm-3">
            <h5>Giờ đến</h5>
          </div>
          <div class="col-sm-3">
            <input class="form-control" value="11:10, 01/12/2020" disabled>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-3">
            <h5>Khoang</h5>
          </div>
          <div class="col-sm-3">
            <input class="form-control" value="Hạng phổ thông" disabled>
          </div>
          <div class="col-sm-3">
            <h5>Giá gốc</h5>
          </div>
          <div class="col-sm-3">
            <input class="form-control" value="5000000" disabled>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-3">
            <h5>Miễn cước</h5>
          </div>
          <div class="col-sm-2">
            <input class="form-control" value="20" disabled>
          </div>
          <div class="col-sm-1">
            <p>kg</p>
          </div>
          <div class="col-sm-3">
            <h5>Giá bán</h5>
          </div>
          <div class="col-sm-3">
            <input class="form-control" value="4500000" disabled>
          </div>
        </div>
      </fieldset>

      <fieldset class="scheduler-border">
        <legend class="scheduler-border">Chuyến bay về</legend>
        <div class="form-row">
          <div class="col-sm-3">
            <h5>Mã chuyến bay về</h5>
          </div>
          <div class="col-sm-3">
            <input class="form-control" value="HQM515 Bamboo Airline" disabled>
          </div>
          <div class="col-sm-3">
            <h5>Giờ đi</h5>
          </div>
          <div class="col-sm-3">
            <input class="form-control" value="15:30, 01/12/2020" disabled>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-3">
            <h5>Ghế</h5>
          </div>
          <div class="col-sm-3">
            <input class="form-control" value="15M" disabled>
          </div>
          <div class="col-sm-3">
            <h5>Giờ đến</h5>
          </div>
          <div class="col-sm-3">
            <input class="form-control" value="17:10, 01/12/2020" disabled>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-3">
            <h5>Khoang</h5>
          </div>
          <div class="col-sm-3">
            <input class="form-control" value="Hạng phổ thông" disabled>
          </div>
          <div class="col-sm-3">
            <h5>Giá gốc</h5>
          </div>
          <div class="col-sm-3">
            <input class="form-control" value="5000000" disabled>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-3">
            <h5>Miễn cước</h5>
          </div>
          <div class="col-sm-2">
            <input class="form-control" value="20" disabled>
          </div>
          <div class="col-sm-1">
            <p>kg</p>
          </div>
          <div class="col-sm-3">
            <h5>Giá bán</h5>
          </div>
          <div class="col-sm-3">
            <input class="form-control" value="4500000" disabled>
          </div>
        </div>
      </fieldset>

      <fieldset class="scheduler-border">
        <legend class="scheduler-border">Thanh toán</legend>
        <div class="form-row">
          <div class="col-sm-2">
            <h5>Tổng giá gốc</h5>
          </div>
          <div class="col-sm-3">
            <input class="form-control" value="10000000" disabled>
          </div>
          <div class="col-sm-3">
            <h5>Email khách hàng</h5>
          </div>
          <div class="col-sm-4">
            <input type="text" class="form-control" value="hoquynhmai51595@gmail.com" #emailInput>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-2">
            <h5>Tổng giá bán</h5>
          </div>
          <div class="col-sm-3">
            <input class="form-control" value="9500000" disabled>
          </div>
          <div class="col-sm-5">
          </div>
          <div class="col-sm-2">
            <button style="width: 100px; margin-right: 2px" class="form-control testEmail"
                    (click)="testEmail(emailInput.value)">
              Kiểm tra
            </button>
          </div>
        </div>
      </fieldset>

      <div class="form-row endRow">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <button class="form-control button back" [routerLink]="'/**'">Quay lại</button>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2">
          <button class="form-control button printTicket" (click)="saveChange()">Lưu</button>
        </div>
        <div class="col-sm-2">
          <button class="form-control button printTicket" [routerLink]="'/print'">In vé</button>
        </div>
      </div>
    </form>
  </div>
</div>
