<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Xóa Vé</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    h3 {
      margin-top: 2%;
      text-align: center;
    }

    h5 {
      margin-left: 15%;
    }

    .delete {
      border: 2px solid;
    }

    .serial {
      float: left;
      margin-right: 3%
    }

    .cancel {
      width: 100px;
      margin-left: 29%;
    }

    .submit {
      width: 100px;
      margin-left: 5%;
      margin-bottom: 3%;
    }
  </style>
</head>
<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 delete">
      <form>
        <h3>Xác Nhận !</h3>
        <h5>Bạn có chắc chắn muốn xóa vé có :</h5>
        <h5 class="serial">Mã đặt chỗ : SPJ51595</h5>
        <h5>Họ tên : Sẻ Hồ</h5>
        <h5>Chuyến bay : Đà Nẵng - Sài Gòn</h5>
        <h5>Ngày : 15/12/2020</h5>
        <h5>Giá : 9.500.000</h5>

        <div class="row">
          <button class="form-control cancel">Hủy</button>
          <button class="form-control submit">Xác Nhận</button>
        </div>
      </form>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>

</body>
</html>
