<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Xóa Vé</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    h5 {
      margin-left: 30%;
    }

    .serial {
      float: left;
      margin-right: 3%
    }

    .button {
      width: 135px;
      margin-left: 35%;
    }
  </style>
</head>
<body>

<div class="container-fluid">
  <form>
    <h3 style="text-align: center">Xac Nhan !</h3>
    <hr>
    <h5>Bạn có chắc chắn muốn xóa vé có :</h5>
    <h5 class="serial">Mã đặt chỗ : SPJ52795</h5>
    <h5>Họ tên : Hồ Quỳnh Mai</h5>
    <h5>Chuyến bay : Nhà Bà Ánh - Nhà Ông Nhân</h5>
    <h5>Ngày : 15/12/2020</h5>
    <h5>Giá : 9.500.000</h5>

    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <button class="form-control button">Hủy</button>
      </div>
      <div class="col-sm-3">
        <button class="form-control button">Xác Nhận</button>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </form>
</div>

</body>
</html>
