<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sửa Vé</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    h3 {
      margin-top: 2%;
      text-align: center;
    }

    .col-sm-6 {
      margin-top: 0;
    }

    .form-control {
      width: 41%;
    }

    .button {
      width: 135px;
      margin-left: 39%;
      margin-top: 9%;
    }

    .hasInput h5 {
      margin-top: 3%;
    }

    .bottom-input {
      margin-top: 1%;
    }
  </style>
</head>
<body>

<div class="container-fluid">
  <form>
    <h3>Sửa thông tin vé :</h3>

    <div class="form-row">
      <div class="col-sm-4"></div>
      <div class="col-sm-2">
        <h5>Mã đặt chỗ :</h5>
      </div>
      <div class="col-sm-6">
        <h5>SPJ51595</h5>
      </div>
    </div>

    <div class="form-row hasInput">
      <div class="col-sm-4"></div>
      <div class="col-sm-2">
        <h5>Tên người đi :</h5>
      </div>
      <div class="col-sm-6">
        <input class="form-control">
      </div>
    </div>

    <div class="form-row bottom-input">
      <div class="col-sm-4"></div>
      <div class="col-sm-2">
        <h5>Chuyến bay :</h5>
      </div>
      <div class="col-sm-6">
        <h5>Đà Nẵng - Sài Gòn</h5>
      </div>
    </div>

    <div class="form-row">
      <div class="col-sm-4"></div>
      <div class="col-sm-2">
        <h5>Ngày :</h5>
      </div>
      <div class="col-sm-6">
        <h5>15/12/2020</h5>
      </div>
    </div>

    <div class="form-row">
      <div class="col-sm-4"></div>
      <div class="col-sm-2">
        <h5>Giá :</h5>
      </div>
      <div class="col-sm-6">
        <h5>9.500.000</h5>
      </div>
    </div>

    <div class="form-row hasInput">
      <div class="col-sm-4"></div>
      <div class="col-sm-2">
        <h5>Email thanh toán :</h5>
      </div>
      <div class="col-sm-6">
        <input class="form-control">
      </div>
    </div>

    <div class="form-row">
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <button class="form-control button">Hủy</button>
      </div>
      <div class="col-sm-3">
        <button class="form-control button">Xác Nhận</button>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </form>
</div>

</body>
</html>
