<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nhập Vé Bán</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    * {
      margin: 0 0;
      padding: 0 0;
      font-size: 15px;
    }

    h3 {
      font-size: 25px;
      font-weight: bold;
    }

    .inputTicket h5 {
      font-size: 22px;
      font-weight: bold;
    }

    fieldset.scheduler-border {
      border: 2px groove black !important;
      padding: 0 0.4em 1.4em 0.4em !important;
      margin: 0 0 1.5em 0 !important;
      -webkit-box-shadow: 0 0 0 0 #000;
      box-shadow: 0 0 0 0 #000;
    }

    legend.scheduler-border {
      font-size: 1.2em !important;
      font-weight: bold !important;
      text-align: left !important;
      width: auto;
      padding: 0 10px;
      border-bottom: none;
    }

    .container-fluid {
      border: 2px solid;
      margin-top: 25px;
      margin-bottom: 25px;
    }

    .justify-content-center {
      margin-top: 15px;
    }

    form {
      width: 95%
    }

    div.col-sm-3 h5 {
      text-align: right;
      margin-top: 1%;
    }

    div.col-sm-2 h5 {
      text-align: right;
      margin-top: 1%;
    }

    div.form-row {
      margin-top: 2%;
    }

    .button {
      width: 100px;
      margin-bottom: 3%;
    }

    textarea {
      height: 69px;
    }

    .printTicker {
      margin-left: 41%
    }

  </style>
</head>
<body>

<div class="container-fluid">
  <div class="row justify-content-center"><h3>QUẢN LÝ BÁN VÉ</h3></div>
  <div class="row justify-content-center inputTicket"><h5>NHẬP VÉ BÁN</h5></div>

  <div class="row justify-content-center">
    <form>
      <fieldset class="scheduler-border">
        <legend class="scheduler-border">Thông tin chung</legend>
        <div class="form-row">
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <h5>Mã đặt chỗ</h5>
          </div>
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <input class="form-control" value="SPJ52795" disabled>
          </div>
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <h5>Hãng bay</h5>
          </div>
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <input class="form-control" value="Vietnam Airlines" disabled>
            <!--            <select>-->
            <!--              <option class="form-control">Vietnam Airlines</option>-->
            <!--              <option class="form-control">Bamboo Airways</option>-->
            <!--              <option class="form-control">Vietjet Air</option>-->
            <!--              <option class="form-control">Jetstar Pacific Airlines</option>-->
            <!--              <option class="form-control">Japan Airlines</option>-->
            <!--            </select>-->
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <h5>Nơi đi</h5>
          </div>
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <input class="form-control" value="Đà Nẵng" disabled>
          </div>
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <h5>Nơi đến</h5>
          </div>
          <div class="col-sm-3">
            <input class="form-control" value="Sài Gòn" disabled>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <h5>Ngày đi</h5>
          </div>
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <input class="form-control" value="01/12/2020" disabled>
          </div>
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <h5>Ngày về</h5>
          </div>
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <input class="form-control" value="15/12/2020" disabled>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <h5>Danh sách người đi</h5>
            <h5>Cách nhau bằng dấu ","</h5>
          </div>
          <div class="col-sm-9">
            <textarea class="form-control"></textarea>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4"></div>
          <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
            <h5>Người lớn</h5>
          </div>
          <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
            <input class="form-control" type="number">
          </div>
          <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
            <h5>Trẻ em</h5>
          </div>
          <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
            <input class="form-control" type="number">
          </div>
        </div>
      </fieldset>

      <fieldset class="scheduler-border">
        <legend class="scheduler-border">Chuyến bay đi</legend>

        <div class="form-row">
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <h5>Mã chuyến bay đi</h5>
          </div>
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <input class="form-control" value="SPJ527 Vietnam Airline" disabled>
          </div>
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <h5>Giờ đi</h5>
          </div>
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <input class="form-control" value="09:10, 01/12/2020" disabled>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <h5>Ghế</h5>
          </div>
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <input class="form-control" value="27C" disabled>
          </div>
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <h5>Giờ đến</h5>
          </div>
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <input class="form-control" value="11:10, 01/12/2020" disabled>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <h5>Khoang</h5>
          </div>
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <input class="form-control" value="Hạng phổ thông" disabled>
          </div>
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <h5>Giá gốc</h5>
          </div>
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <input class="form-control" value="5000000" disabled>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <h5>Miễn cước</h5>
          </div>
          <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
            <input class="form-control" value="20" disabled>
          </div>
          <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
            <p>kg</p>
          </div>
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <h5>Giá bán</h5>
          </div>
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <input class="form-control" value="4500000">
          </div>
        </div>
      </fieldset>

      <fieldset class="scheduler-border">
        <legend class="scheduler-border">Chuyến bay về</legend>
        <div class="form-row">
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <h5>Mã chuyến bay về</h5>
          </div>
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <input class="form-control" value="HQM515 Vietnam Airline" disabled>
          </div>
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <h5>Giờ đi</h5>
          </div>
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <input class="form-control" value="15:30, 01/12/2020" disabled>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <h5>Ghế</h5>
          </div>
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <input class="form-control" value="15M" disabled>
          </div>
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <h5>Giờ đến</h5>
          </div>
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <input class="form-control" value="17:10, 01/12/2020" disabled>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <h5>Khoang</h5>
          </div>
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <input class="form-control" value="Hạng phổ thông" disabled>
          </div>
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <h5>Giá gốc</h5>
          </div>
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <input class="form-control" value="5000000" disabled>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <h5>Miễn cước</h5>
          </div>
          <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
            <input class="form-control" value="20" disabled>
          </div>
          <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
            <p>kg</p>
          </div>
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <h5>Giá bán</h5>
          </div>
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <input class="form-control" value="4500000">
          </div>
        </div>
      </fieldset>

      <fieldset class="scheduler-border">
        <legend class="scheduler-border">Thanh toán</legend>
        <div class="form-row">
          <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
            <h5>Tổng giá gốc</h5>
          </div>
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <input class="form-control" value="10000000" disabled>
          </div>
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <h5>Email khách hàng</h5>
          </div>
          <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4">
            <input type="text" class="form-control" value="hoquynhmai51595@gmail.com" #emailInput>
          </div>
        </div>

        <div class="form-row">
          <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
            <h5>Tổng giá bán</h5>
          </div>
          <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
            <input class="form-control" value="9500000">
          </div>
          <div class="col-sm-5 col-xs-5 col-md-5 col-lg-5">
          </div>
          <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2">
            <button style="width: 100px; margin-right: 2px" class="form-control">
              Kiểm tra
            </button>
          </div>
        </div>
      </fieldset>

      <div class="form-row">
        <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3"></div>
        <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
          <button class="form-control button">Quay lại</button>
        </div>
        <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3"></div>
        <div class="col-sm-3 col-xs-3 col-md-3 col-lg-3">
          <div class="form-row">
            <button class="form-control button">Lưu</button>
            <button class="form-control button printTicker">In vé</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

</body>
</html>
