<div class="container-fluid">
  <h2 style="color: red; text-align: center">List</h2>

  <div class="row" style="margin-top: 35px">
    <div class="col-sm-1"></div>

    <div class="col-sm-1">
      <!--        <button class="btn btn-success" [routerLink]="['/create']">Add New-->
      <!--        </button>-->

      <!--    ----- ON Dialog ------->
      <button style="height: 50px" class="btn btn-success" (click)="createNewDialog()">Add New</button>
    </div>

    <div class="col-sm-8">
      <div class="row" style="margin-left: 5%">
        <input class="form-control" type="text" style="width: 250px; height: 50px" placeholder="Search by all property"
               [(ngModel)]="term">

        <input class="form-control" type="text" style="width: 250px; height: 50px; margin-left: 2%"
               placeholder="Search by Name" #nameLike [(ngModel)]="keyName">

        <!--      <input class="form-control" type="text" style="width: 250px; height: 50px; margin-left: 2%"-->
        <!--             placeholder="Search by Price" #priceLike [(ngModel)]="keyPrice">-->

        <input class="form-control" type="text" style="width: 250px; height: 50px; margin-left: 2%"
               placeholder="Search by Type" #priceLike [(ngModel)]="keyPrice">

        <button class="btn btn-outline-success" style="height: 50px; margin-left: 2%"
                (click)="searchOfMe(nameLike.value, priceLike.value)">Search
        </button>
      </div>
    </div>

    <div class="col-sm-1">
      <button style="height: 50px" class="btn btn-success" (click)="resetSearch()">Reset</button>
    </div>

    <div class="col-sm-1"></div>
  </div>

  <div class="row justify-content-center" style="margin-top: 35px">
    <select style="width: 165px" class="form-control" #attribute>
      <option value="price">Price</option>
      <option value="name">Name</option>
      <option value="id">ID</option>
    </select>

    <select style="width: 165px; margin-left: 1%" class="form-control" #arrange>
      <option value="asc">Ascending</option>
      <option value="desc">Decrease</option>
    </select>

    <button style="height: 50px; margin-left: 1%" class="btn btn-success"
            (click)="sort(attribute.value, arrange.value)">Sort
    </button>
  </div>

  <div class="row justify-content-center" style="margin-top: 45px">
    <input class="form-control" type="text" style="width: 250px; height: 50px; margin-right: 15px"
           placeholder="Serial is selected" [(ngModel)]="listChoose" [value]="listChoose.toString()">
    <button class="btn btn-danger" style="height: 50px" (click)="deleteAllChoosed()">Delete all selected items</button>
  </div>

  <div class="row" style="margin-top: 25px; margin-left: 50px; margin-right: 50px; overflow-x: auto">
    <table class="table mt-3 table-striped table-bordered" style="font-size: 17px">
      <thead>
      <tr>
        <th style="width: 11px">Choose</th>
        <th>Serial</th>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Birth Day</th>
        <th>Type</th>
        <th>Action</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let element of list |filter: term
                                      |paginate: { itemsPerPage: 3, currentPage: p}">
        <td><input type="checkbox" style="width: 3vh; height: 3vh" value="{{element.id}}" #idChoose
                   (click)="chooseDelete(idChoose.value)"></td>
        <td>{{element.id}}</td>
        <td>{{element.idFormat}}</td>
        <td>
          <ng-container [ngSwitch]="element.hiddenIcon">
            <p *ngSwitchCase="true">{{element.name}}</p>
            <span><input type="text" #nameEditInLine [hidden]="element.hiddenIcon" value="{{element.name}}"></span>
          </ng-container>
        </td>
        <td>{{element.price}}</td>
        <td>{{element.startDate | date: 'dd / MM / yyyy'}}</td>
        <td>{{element.endDate | date: 'dd / MM / yyyy'}}</td>
        <td>{{element.birthDay | date: 'dd / MM / yyyy'}}</td>
        <td>{{element.type.name}}</td>
        <td style="width: 150px">
          <!--          <input type="button" class="btn btn-sm btn-warning" value="Edit">-->
          <!--          <input type="button" class="btn btn-sm btn-danger" value="Delete">-->

          <span class="material-icons icon-image-preview" style="color: blue; margin-right: 5%"
                (click)="openDialogView(element.id)">visibility</span>

          <!--          <span *ngIf="element.hiddenIcon" (click)="setDetail(element)">-->
          <span *ngIf="element.hiddenIcon" (click)="openDialogEdit(element.id)">
            <span class="material-icons" style="color: darkviolet">create</span></span>

          <span *ngIf="!element.hiddenIcon"
                (click)="setProperty(nameEditInLine.value)">
            <span class="material-icons" style="color: darkgreen">save</span></span>

          <span class="material-icons icon-image-preview" style="color: red; margin-left: 3%"
                (click)="openDialogDelete(element.id)">delete</span>

        </td>
      </tr>
      </tbody>
    </table>

    <pagination-controls (pageChange)="p = $event" style="margin-left: 55%"></pagination-controls>
  </div>
</div>
