.form-control {
  width: 41%;
}

.button {
  width: 133px;
  margin-left: 41%;
  margin-top: 9%;
}

.hasInput h5 {
  margin-top: 2%;
}

.col-sm-7 input {
  width: 375px;
  margin-left: 5%;
}

.col-sm-7 h5 {
  margin-left: 5%;
}
