<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sửa Vé</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    h3 {
      color: blue;
      font-style: italic;
      font-weight: bold;
      margin-top: 2%;
      text-align: center;
    }

    .delete {
      border: 2px solid;
    }

    hr {
      border: 1px solid;
    }

    span {
      color: blue;
      font-weight: bold;
    }

    h5 {
      margin-left: 21%;
      margin-top: 0.5%;
      float: left;
    }

    div {
      margin-bottom: 10px;
    }
  </style>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 delete">
      <h3>Sửa thông tin vé</h3>
      <hr>
      <form>
        <div>
          <h5 style="margin-right: 12%">Mã đặt chỗ :</h5>
          <label>
            <input class="form-control" value="SPJ51595" disabled>
          </label>
        </div>
        <div>
          <h5 style="margin-right: 11.5%">Chuyến bay :</h5>
          <label>
            <input class="form-control" value="Đà Nẵng - Sài Gòn" disabled>
          </label>
        </div>
        <div>
          <h5 style="margin-right: 16.3%">Ngày đi :</h5>
          <label>
            <input class="form-control" value="15/05/2020" disabled>
          </label>
        </div>
        <div>
          <h5 style="margin-right: 6.4%">Tên người đi :<span style="color: red"> (*)</span></h5>
          <label>
            <input class="form-control" type="text">
          </label>
        </div>
        <div>
          <h5 style="margin-right: 1%">Email thanh toán :<span style="color: red"> (*)</span></h5>
          <label>
            <input class="form-control" type="text">
          </label>
        </div>
        <hr>
        <div class="row" style="margin-top: 20px; margin-bottom: 20px">
          <button style="margin-left: 38%" type="button" class="btn btn-secondary">Hủy</button>
          <button style="margin-left: 3%" type="button" class="btn btn-success">Xác Nhận</button>
        </div>
      </form>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
</body>
</html>
