<div class="row px-0 mx-0" style="margin-top: 5px">
  <h2 class="d-flex" style="color: red; margin-left: 7px">Employee List</h2>
  <div class="d-flex" style="margin-left: 52%">
    <input class="form-control" type="text" style="width: 100%; height: 50px" placeholder="Search by all property"
           [(ngModel)]="term">
    <button class="btn btn-outline-success" style="margin-left: 5%; height: 50px" (click)="resetSearch()">Reset</button>
  </div>

  <div class="row" style="margin-left: 3px; margin-right: 3px; overflow-x: auto">
    <!--    <button class="btn btn-success" [routerLink]="['/create-employee']">Add New Employee</button>-->
    <button style="margin-left: 7px" class="btn btn-success" (click)="createNewDialog()">Add New Employee</button>
    <table class="table mt-3 table-striped" style="font-size: 17px">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Birth Day</th>
        <th>ID Card</th>
        <th>Salary</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Address</th>
        <th>Position</th>
        <th>Division</th>
        <th>Education Degree</th>
        <th>Action</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let employee of employeeList |filter: term |paginate: { itemsPerPage: 3, currentPage: p}">
        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.birthDay}}</td>
        <td>{{employee.idCard}}</td>
        <td>{{employee.salary}}</td>
        <td>{{employee.phoneNumber}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.address}}</td>
        <td>{{employee.position}}</td>
        <td>{{employee.division}}</td>
        <td>{{employee.educationDegree}}</td>
        <td style="width: 190px">
<!--          <input type="button" class="btn btn-sm btn-warning" value="Edit" (click)="openDialogEdit(employee.id)">-->
<!--          <input type="button" class="btn btn-sm btn-danger" value="Delete" style="margin-left: 10px"-->
<!--                 (click)="openDialogDelete(employee.id)">-->

          <!--          <input type="button" class="btn btn-sm btn-warning" value="Edit">-->
          <!--          <input type="button" class="btn btn-sm btn-danger" value="Delete" style="margin-left: 10px">-->

          <svg width="3vh" height="3vh" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor"
               xmlns="http://www.w3.org/2000/svg" style="color: darkviolet" (click)="openDialogEdit(employee.id)">
            <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0
            0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0
            1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0
            1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5
            0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
          </svg>

          <svg width="3vh" height="3vh" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor"
               xmlns="http://www.w3.org/2000/svg" style="color: red; margin-left: 10%"
               (click)="openDialogDelete(employee.id)">
            <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0
            2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0
            1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0
            1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
          </svg>
        </td>
      </tr>
      </tbody>
    </table>

    <pagination-controls (pageChange)="p = $event" style="margin-left: 55%"></pagination-controls>
  </div>
</div>
